extends pug/layout/layout-index

block vars
    -const pageTitle = 'API page'
    -const pageClass = 'api-page'

block content
    section.api
        .container
            .api__header
                h1 api

    section.api__content
        .container
            .row.justify-content-between.justify-content-lg-between.justify-content-xl-between.justify-content-sm-between.justify-content-center
                .api__item
                    h3 Stats
                    p Global pool stats
                    button.btn-primary More
                .api__item
                    h3 Stats
                    p Global pool stats
                    button.btn-primary More
                .api__item
                    h3 Stats
                    p Global pool stats
                    button.btn-primary More
                .api__item
                    h3 Stats
                    p Global pool stats
                    button.btn-primary More
                .api__item
                    h3 Stats
                    p Global pool stats
                    button.btn-primary More