footer.footer
    .container
        .footer__content
            .footer__links
                .footer__list
                    a.footer__link(href='/')
                        img(src='./images/logo-dark.svg')
                    .footer__link
                        a
                            img(src='./images/socials/telegramm.svg')
                        a
                            img(src='./images/socials/google.svg')

                .footer__list
                    .footer__link(href='/') INFO
                    a.footer__link About
                    a.footer__link F.A.Q.
                    a.footer__link Terms of Service

                .footer__list
                    .footer__link(href='/') INFO
                    a.footer__link About
                    a.footer__link F.A.Q.
                    a.footer__link Terms of Service

                .footer__list.footer__list_mobile

                .footer__list.footer__list_ml
                    .footer__link(href='/') INFO
                    a.footer__link About
                    a.footer__link F.A.Q.
                    a.footer__link Terms of Service

                .footer__list.footer__list_ml
                    .footer__link
                    a.footer__link About
                    a.footer__link F.A.Q.
                    a.footer__link Terms of Service

                .footer__list.footer__list_ml
                    .footer__link
                    a.footer__link F.A.Q.
                    a.footer__link Terms of Service

            .footer__bottom
                span.footer__span © MinerPool 2018-2021
                span.footer__span All rights reserved
                span.footer__span made by
                    a roobinium.io
